aiohttp==3.8.5
colorama==0.4.6
discord.py==2.3.2
geopy==2.3.0
openai==0.27.8
Pillow==10.0.0
pysolr==3.9.0
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
tiktoken==0.3.0
timezonefinder==6.1.9
aiohttp==3.8.5
colorama==0.4.6
discord.py==2.3.2
geopy==2.3.0
openai==0.27.8
Pillow==10.0.0
pysolr==3.9.0
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
tiktoken==0.3.0
timezonefinder==6.1.9
