torch==2.4.0+cu118
torchvision==0.19.0+cu118
torchaudio==2.4.0+cu118
optimum==1.22.0
optimum-quanto==0.2.4
colorama==0.4.6
geopy==2.4.1
openai==1.14.2
Pillow==10.1.0
pysolr==3.9.0
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
tiktoken==0.7.0
timezonefinder==6.4.1
aiohttp==3.8.5
discord.py==2.4.0




