colorama==0.4.5
geopy==2.3.0
openai==0.27.8
Pillow==10.4.0
pysolr==3.9.0
python-dotenv==1.0.0
pytz==2024.1
requests==2.32.3
tiktoken==0.3.0
timezonefinder==6.1.9
aiohttp==3.8.3
discord.py==2.1.0
torch==2.0.1+cu117
torchvision==0.15.2+cu117
torchaudio==2.0.2+cu117
optimum-quanto==0.2.4


