fastapi
uvicorn[standard]
torch
diffusers
transformers
safetensors
accelerate
rembg
pillow
colorama
opencv-python-headless
numpy
scikit-image
optimum-quanto
requests
huggingface_hub[cli]
onnxruntime
sentencepiece
